body {
    background-color: bisque;
}

.container {
    /* border: 0px solid hwb(30 87% 9%); */
    background-image: url(back-to-school-gif.gif);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    /* align-content: center; */
    font-size: large;
    width: 100%;
    height: 100%;

}

table {
    width: 400px;
    height: 400px;
    text-align: center;
    border: 5px solid green;
    margin-left: 200px;
    font-size: large;
    float: right;
}

th,
td {
    border: 2px solid rgb(82, 86, 88);
    font-size: medium;



}

/* td:hover {
    background-color: yellow;

    width: 50px;
} */

body {
    /* background-image: url('background.gif'); */
    /* background-image: url(back-to-school-gif.gif); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-size: contain;
    width: 100%;
    height: 100%;
    transition: 2s;
    margin-top: 10px;
    /* border-width: 2px; */
    /* border-style: solid; */
}



.form {
    /* border: 0px solid rgb(209, 206, 206); */
    background-color: rgb(234, 225, 225);
    margin-left: 800px;
    position: relative;
    /* position: absolute; */
    padding: 10px 10px;
    width: 20%;
    height: 100%;
    font-size: x-large;


}

img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 100px;
    top: -20px;
}

.button {
    background-color: rgb(12, 98, 98);
    color: white;
    width: 175px;
    height: 30px;
    font-size: large;


}

.center {
    background-color: rgb(221, 217, 217);
    text-align: center;
    height: 30px;
}

.forget-password {
    color: orange;
    text-align: center;
    font-size: 17;
    font-weight: 200px;
}