
/* body {
    background-color: rgb(19, 74, 74);
} */

body {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(206, 201, 201);
    /* margin: 100px;
    width: 250px; */
    /* box-shadow: 10px 5px 5px rgb(209, 207, 207); */
    position: relative;
    
    width:100% ;
    
    
}


.form {
    border: 2px solid rgb(209, 206, 206);
    background-color: rgb(198, 191, 191);

    width: 350px;
    height: 500px;
    position: absolute;
    /* align-content: center; */
    padding: 25px 25px;
    left:800px ;
    top: 400px;
    /* left: 00px; */
    /* align-items: center;  */
    /* justify-content: center; */
   
    /* display: flex;  */

}

img {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 150px;
    top: -20px;
}

.button {
    background-color: rgb(12, 12, 169);
    color: white;
    width: 300px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(243, 21, 39);
}



.center {
    background-color: rgb(221, 217, 217);
    text-align: center;
    height: 40px;
    width: 300px;
}

.forget-password {
    color: rgb(98, 0, 255);
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}

input::placeholder {
    font-size: 18px;
    font-weight: bold;

}

input:hover {
    background-color: white;
    text-emphasis: none;
}

p {
    font-size: 15px;
    text-align: center;
}