body {
    /* background-image: url('background.gif'); */
    background-image: url(Back_to_school.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
/* .container{
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap:10px;
     */

}
